body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: minmax(min-content, 200px) 1fr;
  gap: 0.5rem;
  margin: 40px;
}

li {
  list-style-type: none;
}

ul {
  text-align: left;
}

/* CSS */
button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
} */
button > a {
  text-decoration: none;
  color: #333333;
}

.refinements .ais-RefinementList {
  border: 1px solid rgb(196, 200, 216);
  box-shadow: 0 2px 5px 0px #e3e5ec;
  padding: 5px;
  border-radius: 0;
}

.ais-Pagination {
  padding-bottom: 40px;
}
img {
  width: 100%;
}

form {
  margin-bottom: 10px;
}

.ais-SearchBox-input {
  border-radius: 0;
}

@media only screen and (max-width: 600px) {
  .Container {
    display: inherit;
    margin: 20px;
  }

  .refinements,
  .ais-Hits-item {
    width: 100%;
  }

  li {
    width: 100%;
  }
}
